
em{
    color: rgb(0, 119, 255);
}


 .banner  {
   width: 100%
 }
 .beneficios{
  background: #ffffff;
  padding: 20px;
 }
 .imagembenefícios{
  width: 50%;
 }

 .principal {
 background-color: cadetblue;
 
}

.tituloCentralizado {
  text-align: center;
}
 
ul {
  display: inline-block;
  width:20%;
  margin-right: 15%;
  vertical-align: top;
}