
body{
    background: #cccccc ;
    text-align: center;

}

em{
    color: rgb(0, 119, 255);
}


 .banner  {
   width: 100%
 }
 .beneficios{
  background: #ffffff;
  padding: 20px;
 }
 .imagembeneficios{
  width: 50%;
 }